body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 300px;
    background-color: gray;
}